{% extends './base.html.twig' %}
{% block title %}
	SnowTricks - Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<div
		class="">
		<!-- Background image -->
		<div class="bg-image opacity-75">
			<div class="bloc-title-home-page">
				<h1 class="h1 d-flex justify-content-center text-center text-primary">
					Snowtricks
				</h1>
				<p class="fs-3 d-flex justify-content-center p-3 text-center">
					Le site communautaire qui regroupe tous les tricks du Snowboard
				</p>
			</div>
		</div>
		<!-- Background image -->

		<!-- Start Card of Tricks -->

		<div
			class="container-fluid m-0 p0 d-flex justify-content-center row">
			<!-- Button trigger modal -->
			{% if app.user %}
				<button type="button" class="btn btn-outline-info w-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					<a class="text-decoration-none" href="{{ path('add.trick') }}">Ajouter une figures</a>
				</button>
			{% endif %}
			<!-- Modal include -->


			<div class="container">
				{% for message in app.session.flashBag.get('success') %}
					<div class="row justify-content-center m-3 alert alert-success" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('danger') %}
					<div class="row justify-content-center m-3 alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.session.flashBag.get('warning') %}
					<div class="row justify-content-center m-3 alert alert-warning" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				<div id="trick-container" class="row">
					{% for trick in tricks %}
						<div class="col-lg-4 col-md-6 col-sm-12 py-4 ml-3" id="list-Snowboard">
							<div class="card shadow">
								<div class="card-header d-flex justify-content-between">
									<h5 class="card-title mb-0">
										<a href="{{ path( 'trick.details', { slug: trick.slug } ) }}" class="text-decoration-none">
											<span class="responsive-logo-trick">
												<i class="fas fa-snowboarding mr-1 text-info"></i>
											</span>
											{{ trick.name }}
										</a>
									</h5>
									<div>
										{%  if (is_granted("delete_trick" , trick)) %}
											<a href="{{ path('delete.trick', {'slug': trick.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.name}} ?`)">
												<i class="fas fa-trash-alt"></i>
											</a>
										{% endif %}
									</div>
								</div>

								<img src="{{ asset(trick.images.first.pathImg) }}" class="card-img-top" alt="{{ trick.name }}"/>

								<div class="card-footer pr-3 pl-3">
									<p class="mb-0 text-muted">
										{% if trick.updatedAt <= trick.createdAt %}
											{% if trick.user.avatar %}
												<img src="{{ asset(trick.user.avatar) }}" class="rounded-circle avatar" alt="Avatar {{ trick.user.userName }}"/>
											{% else %}
												<img src="https://forum.pcastuces.com/img/efa5cf51c0711fafc61e73f90e05bc12.png" class="rounded-circle avatar" alt="Avatar {{ trick.user.userName }}"/>
											{% endif %}
											Crée par le
											<a href="#" class="text-info text-decoration-none">
												{{ trick.user.userName }}
											</a>
											<span class="responsive-date-trick">
												{{ trick.createdAt|date('d/m/Y', 'Europe/Paris') }}
											</span>
										{% else %}
											{% if trick.user.avatar %}
												<img src="{{ asset(trick.user.avatar) }}" class="rounded-circle avatar" alt="Avatar {{ trick.user.userName }}"/>
											{% else %}
												<img src="https://forum.pcastuces.com/img/efa5cf51c0711fafc61e73f90e05bc12.png" class="rounded-circle avatar" alt="Avatar {{ trick.user.userName }}"/>
											{% endif %}
											Mis à jour par le
											<a href="#" class="text-info text-decoration-none">
												{{ trick.user.userName }}
											</a>
											<span class="responsive-date-trick">
												{{ trick.updatedAt|date('d/m/Y', 'Europe/Paris') }}
											</span>
										{% endif %}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- end Card of Tricks -->
	</div>
{% endblock %}
