{% extends './base.html.twig' %}
{% block title %}SnowTricks - Home{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}


 {% block main %}
<div class = "">
 <!-- Background image -->
<div class="bg-image opacity-75">
<div class="bloc-title-home-page">
<h1 class = "h1 d-flex justify-content-center text-center text-primary">Snowtricks</h1>
<p class = "fs-3 d-flex justify-content-center p-3 text-center">Le site communautaire qui regroupe tous les tricks du Snowboard</p>
</div>
</div>
<!-- Background image -->
<!--  Start Card of Tricks-->

<div class="container-fluid">
<div class="container">
<div id="trick-container" class="row">
    {% for trick in tricks %}
    <div class="col-lg-4 col-md-6 col-sm-12 py-4 ml-3" id = "list-Snowboard">
    <div class="card shadow">
        <div class="card-header">
            <h5 class="card-title mb-0">
            <a href="{{path('trick_details', {'slug': trick.slug}) }}" class="text-decoration-none">
            <span class="responsive-logo-trick">
            <i class="fas fa-snowboarding mr-1 text-info"></i>
            </span>
            {{ trick.name }}
            </a>
            </h5>
        </div>
        <img src="{{ asset('assets/figures/' ~  trick.image.first.pathImg)}}" class="card-img-top" alt="{{ trick.name }}">                     
     <div class="card-footer pr-3 pl-3">
        <p class="mb-0 text-muted">
        {% if trick.updatedAt <= trick.createdAt %}
        <img src="{{ asset(trick.user.avatar)}}" class="rounded-circle avatar" alt="Avatar" /> Crée par <a href="#" class="text-info text-decoration-none">{{trick.user.userName}}</a>
        <span class="responsive-date-trick">  {{trick.createdAt|date('d/m/Y',"Europe/Paris")}}</span>
        {% else %}
         <img src="{{ asset(trick.user.avatar)}}" class="rounded-circle avatar" alt="Avatar" /> Mis à jour par <a href="#" class="text-info text-decoration-none">{{trick.user.userName}}</a>
        <span class="responsive-date-trick">  {{trick.updatedAt|date('d/m/Y',"Europe/Paris")}}</span>
        {% endif %}
        </p>
     </div>
    </div>
    </div>
    {% endfor %}
</div>
</div>    
</div>
<!-- end Card of Tricks -->
</div>
 {% endblock %}





