{% extends './base.html.twig' %}
{% block title %}Ajouter une figures{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}


 {% block main %}
<!-- Modal -->
<div class = "row d-flex justify-content-center">
 <!-- Background image -->
<div class="bg-image opacity-75">
<div class="bloc-title-home-page">
<h1 class = "h1 d-flex justify-content-center text-center text-primary">Ajouter une figures</h1>
</div>
</div>
<!-- add form-->
 <div class="row container col-md-10 col-md-offset-1 mt-5 mb-4 shadow p-3 mb-5 bg-body rounded">
  <h1>Créer un nouveau trick :</h1>
    {{ form_start(form , {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
    <div class="col">{{ form_row(form.name) }}</div>
    <div class="col">{{ form_row(form.category) }}</div>
    </div>
    
     {{ form_row(form.videos) }} 
      <button type="button" class="add_item_link btn-info rounded text-light p-1" data-collection-holder-id="trick_videos">Ajouter lien des videos</button>
   
   
    {{ form_row(form.images) }} 
    <button type="button" class="add_item_img btn-info rounded text-light p-1" data-collection-holder-id="trick_images">Ajouter des images</button>
    
     {{ form_rest(form) }}
     {{ form_end(form) }}
 </div>
 </div>
{% endblock %}
{% block javascripts %}
 <script>

 function createElementFromHTML(htmlString) {
  var div = document.createElement('div');
  div.innerHTML = htmlString.trim();

  // Change this to div.childNodes to support multiple top-level nodes.
  return div.firstChild;
}

const initDataIndex = () => {
   collectionHolderVideos = document.getElementById("trick_videos");
   collectionHolderVideos.setAttribute('data-index', collectionHolderVideos.childElementCount);
   collectionHolderImage = document.getElementById("trick_images");
   collectionHolderImage .setAttribute('data-index', collectionHolderImage.childElementCount);
}
 
 const addFormToCollection = (e) => {
  const collectionHolder = document.getElementById(e.currentTarget.dataset.collectionHolderId);
   
  
  const itemTxt = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );
   item = createElementFromHTML(itemTxt);
   console.log(item)
  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  
  // add a delete link to the new form
    addTagFormDeleteLink(item);
};

const addTagFormDeleteLink = (item) => {
    const removeFormButton = document.createElement('button');
    removeFormButton.classList.add('btn-danger')
    removeFormButton.classList.add('rounded')
    removeFormButton.classList.add('text-light')
    removeFormButton.innerText = 'Suprimer';

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
    });
}
 
 document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });


  document
  .querySelectorAll('.add_item_img')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
  
  //Add delete button on video collection at refresh/load
  document
    .querySelectorAll('#trick_videos fieldset')
    .forEach((tag) => {
        addTagFormDeleteLink(tag)
    })

//Add delete button on images collection at refresh/load
  document
    .querySelectorAll('#trick_images fieldset')
    .forEach((tag) => {
        addTagFormDeleteLink(tag)
    })

 //Init Data index at refresh/load   
initDataIndex();

 </script>
{% endblock %}