{% extends './base.html.twig' %}
{% block title %}SnowTricks -
	{{ trick.name }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
	<!-- Start Trick -->
	{% for message in app.session.flashBag.get('success') %}
		<div class="row justify-content-center m-3 alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<section>
		<div class="mt-5">
			<div class="row justify-content-center mt-5">
				<div class="col-md-10 col-md-offset-1 mt-5 mb-4 p-0 mr-0 ml-0">

					<div class="card mt-5  shadow p-3 mb-5 bg-body rounded">
						<img class="card-img-top" src="{{ asset(trick.images.first.pathImg)}}" alt="Stalefish-main">
						<div class="card-body">
							<ul class="list-inline trick-data">
								<li class="list-inline-item">
									Par :
									<a target="_blank" href="#">{{ trick.user.userName }}</a>
								</li>
								|
								{% if trick.updatedAt <= trick.createdAt %}
									<li class="list-inline-item">
										(<small>Ajouté le :
											{{trick.createdAt|date('d/m/Y',"Europe/Paris")}}</small>)
									</li>
								{% else %}
									<li class="list-inline-item">
										(<small>Mis à jour le :
											{{trick.updatedAt|date('d/m/Y',"Europe/Paris")}}</small>)
									</li>
								{% endif %}
								|
								<li class="list-inline-item">
									Groupe de trick :
									{{ trick.category }}
								</li>
								|
								<li class="list-inline-item">
									<a href="{{ path( 'edit.trick', { slug: trick.slug } ) }}">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</li>
								|
								<li class="list-inline-item">
									<a href="{{ path('delete.trick', {'slug': trick.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{trick.name}} ?`)"><i class="fas fa-trash-alt"></i></a>
								</li>
							</ul>
							<hr>
							<h4 class="card-title text-center">
								<strong>{{ trick.name }}</strong>
							</h4>
							<hr>
							<!-- Start gallery picture -->

							<div class="container">

								<div class="row" id="seeMedia">
									{% for image in trick.images %}
										<div class="col-md-3 col-sm-4 col-xs-6" >
											
											<a href="{{ asset(image.pathImg)}}">
												<img class="img-thumbnail rounded" src="{{ asset(image.pathImg)}}" alt="image {{ trick.name }}"/>
											</a>
										</div>
									{% endfor %}
									{% for video in trick.videos %}
										<div class="col-md-3 col-sm-4 col-xs-6">
											<a href="{{ video.urlVideo }}">
												<iframe width="500" height="315" class="img-thumbnail rounded" src="{{ video.urlVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</a>
										</div>
									{% endfor %}

								</div>
								<div class="col text-center">
									<button class="btn btn-info col-10 mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#seeMedia" aria-expanded="false" aria-controls="seeMedia">Voir les médias</button>
								</div>
							</div>

							<!-- End gallery picture -->
							<hr>
							<!-- Start Discription -->
							<h5 class="card-title">Description</h5>
							<p class="card-text text-justify">{{ trick.description }}</p>
						</page>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>

<!--Add comment-->
<!--Add comment-->

<!-- Start comment-->

<section class="">

	<div class="row justify-content-center mt-5">
		<div class="row d-flex justify-content-center mt-4 my-4">
			<div class="col-md-10 col-md-offset-1 shadow p-3 mb-5 bg-body rounded">
				<div class="card text-dark border border-0">
					<div class="card-body p-4">
						{% if trick.commments is not empty %}
							<h4 class="mb-4">Commentaires</h4>
							{% for comment in trick.commments %}
								<div class="d-flex flex-start border-bottom border-2 mb-3">
									<img class="rounded-circle shadow-1-strong me-3" src="{{ asset(comment.user.avatar)}}" alt="avatar de {{comment.user.userName}}" width="60" height="60"/>
									<div>
										<h6 class="fw-bold mb-1">{{comment.user.userName}}</h6>
										<div class="d-flex align-items-center mb-0">
											{% if comment.updatedAt <= comment.createdAt %}
												<p class="mb-0">
													<small>
														Ajouté le :
														{{comment.createdAt|date('d/m/Y',"Europe/Paris")}}</small>
												</p>
											{% else %}
												<p class="mb-0">
													<small>
														Mis à jour le :
														{{comment.updatedAt|date('d/m/Y',"Europe/Paris")}}</small>
												</p>
											{% endif %}
											<a href="#!" class="link-muted">
												<i class="fas fa-pencil-alt ms-2"></i>
											</a>
										</div>
										<p class="mb-3">
										<p class="mb-3">
											{{comment.content}}
										</p>
									</div>

								</div>
							{% endfor %}
						{% else %}
							<div class="alert alert-primary" role="alert">
								Y'a aucun commentaire dans cette figure!
							</div>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
