{% extends './base.html.twig' %}
{% block title %}SnowTricks - {{ trick.name }}{% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block main %}
          <!-- Start Trick -->
    <div class="mt-5">  
        <div class="row justify-content-center mt-5">          
            <div class="col-md-10 col-md-offset-1 mt-5 mb-4"> 
                             
                <div class="card mt-5">
                    <img class="card-img-top" src="{{ asset('assets/figures/' ~  trick.image.first.pathImg)}}" alt="Stalefish-main">
                    <div class="card-body">
                        <ul class="list-inline trick-data">
                            <li class="list-inline-item">
                                Par : <a target="_blank" href="#">{{ trick.user.userName }}</a>
                            </li> |           
                            {% if trick.updatedAt <= trick.createdAt %}
                            <li class="list-inline-item">
                               (<small>Ajouté le : {{trick.createdAt|date('d/m/Y',"Europe/Paris")}}</small>)
                            </li>
                            {% else %}
                             <li class="list-inline-item">
                               (<small>Mis à jour le : {{trick.updatedAt|date('d/m/Y',"Europe/Paris")}}</small>)
                            </li>
                            {% endif %}  
                             |                          
                            <li class="list-inline-item">
                             Catégorie :  {{ trick.catégory }}
                            </li>
                             | 
                            <li class="list-inline-item">
                             <i class="far fa-comments"></i> : 0
                            </li>
                        </ul>
                        <hr>
                        <h4 class="card-title text-center"><strong>{{ trick.name }}</strong></h4>
                        <hr>
                        <!-- Start gallery picture -->

                        <div class="container">
                           
                            <div class="row">
                            {% for image in trick.image %}
                                <div class="col-md-3 col-sm-4 col-xs-6">  
                                <a href="{{ asset('assets/figures/' ~  image.pathImg)}}" >                            
                                <img class="img-thumbnail rounded" src="{{ asset('assets/figures/' ~  image.pathImg)}}" alt="image {{ trick.name }}"/>
                                </a>
                                </div>
                            {% endfor %}
                            {% for video in trick.video %}
                            <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ video.urlVideo }}" > 
                            <iframe width="500" height="315" class="img-thumbnail rounded" src="{{ video.urlVideo }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </a>
                            </div>
                            {% endfor %}

                            </div>
                           
                        </div>
                         <!-- End gallery picture -->
                        <hr>
                        <!-- Start Discription -->
                        <h5 class="card-title">Description</h5>
                        <p class="card-text text-justify">{{ trick.description }}</page>
            </div>
    </div>                    
</div>
<!--  End Trick -->
{% endblock %}