{% for comment in comments %}
	<div class="d-flex flex-start border-bottom border-2 mb-3">
		{% if comment.user.avatar %}
			<img class="rounded-circle shadow-1-strong me-3" src="{{ asset(comment.user.avatar)}}" alt="avatar de {{comment.user.userName}}" width="60" height="60"/>
		{% else %}
			<img class="rounded-circle shadow-1-strong me-3" src="https://forum.pcastuces.com/img/efa5cf51c0711fafc61e73f90e05bc12.png" alt="avatar de {{comment.user.userName}}" width="60" height="60"/>
		{% endif %}
		<div>
			<h6 class="fw-bold mb-1">{{comment.user.userName}}</h6>
			<div class="d-flex align-items-center mb-0">
				{% if comment.updatedAt <= comment.createdAt %}
					<p class="mb-0">
						<small class="pe-3">
							Ajouté le :
							{{comment.createdAt|date('d/m/Y',"Europe/Paris")}}</small>
					</p>
				{% else %}
					<p class="mb-0">
						<small class="pe-3">
							Mis à jour le :
							{{comment.updatedAt|date('d/m/Y',"Europe/Paris")}}</small>
					</p>
				{% endif %}
				{%  if (is_granted("edit_comment" , comment)) %}
					<a href="{{ path('edit.comment', {'id': comment.id}) }}" class="link-muted pe-2">
						<i class="fas fa-pencil-alt"></i>
					</a>
				{% endif %}
				{%  if (is_granted("delete_comment" , comment)) %}
					<a href="{{ path('delete.comment', {'id': comment.id}) }}" class="link-muted pe-2" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer votre commentaire ?`)">
						<i class="fas fa-trash-alt"></i>
					</a>
				{% endif %}
			</div>
			<p class="mb-3">
				{{comment.content}}
			</p>
		</div>
	</div>
{% endfor %}
